@import '../../assets/variables/breakpoints';
@import '../../assets/variables/mixins';

.footer {
  padding: 10px;
  background-color: var(--main_light_green);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;

  @media screen and (min-width: $phone) {
    @include paddingPage;
  }

  &__license {
    display: flex;
    gap: 10px;
  }

  @media screen and (min-width: $phone) {
    height: 154px;
    flex-direction: row;
  }
}

.icon-logo {
  fill: black;
}
