:root {
  --main_light_green: #d2e055;
  --main_green: #238e46;
  --main_light_grey: #e8e8e8;

  // Element-Plus
  --el-color-primary: #238e46 !important;
  --el-text-color-regular: black !important;
  --el-text-color-placeholder: black !important;
}
