.social-icons {
  display: flex;
  gap: 10px;

  &__icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #969696;
    cursor: pointer;
  }
}
